<div class="main-grid-view-row desktop-view">
  <div class="grid-view-changer grid-view-mobile-column active">
    {% render 'one-thumbnails-icon' %}
  </div>
  <div class="grid-view-changer grid-view-first-column">
    {% render 'two-thumbnails-icon' %}
  </div>
  <div class="grid-view-changer grid-view-second-column active">
    {% render 'three-thumbnails-icon' %}
  </div>
  <div class="grid-view-changer grid-view-third-column ">
    {% render 'four-thumbnails-icon' %}
  </div>
</div>